/ServerSide/Web Server Testing
/ServerSide/Enviorment/Active/Non-Public
__pycache__
/ServerSide/.vscode
.vscode
void_scribe/tempDataConverter.py
/void_scribe/NamesDictionaryTests.py
/void_scribe/Non-Public/pokeScrape.py
void_scribe/temp/*
